@media (min-width: 768px) {
  .remove {
    padding: 0 5px;
  }

  #navbar-title {
    display: block;
  }
}

@media (min-width: 992px) {
  .book-title,
  .book-author {
    font-size: 1.3rem;
  }

  .remove {
    font-size: 18px;
  }

  .inner-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .remove {
    padding: 0 7px;
  }
}

@media (min-width: 1400px) {
  .remove {
    padding: 0 9px;
  }
}
